body {
    margin: 0px;
}

.quote-container {
    margin: 0px;
    position: relative;
}

.note {
    text-align: left;
    font-family: 'DejaVu Sans Mono', monospace;
    color: #333;
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.note .author {
    display: block;
    margin: 40px 0 0 0;
    text-align: right;
}

.yellow {
    background: #eae672;
}

p.word {
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-family: fantasy;
}

p.type {
    font-size: 12px;
    margin-top: 0;
    text-align: center;
}

p.definition {
    font-size: 14px;
}

p.translation {
    font-size: 14px;
    margin-top: 5px;
}

ul.example-usages {
    font-size: 14px;
    margin-top: 5px;
}

p.title {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

div.actions {
    font-size: 10px;
    margin-top: 20px;
    font-weight: bold;
    border-top: 1px solid;
    padding-top: 10px;
}

div.actions .do-not-show-again {
    color: darkred;
    width: 50%;
    display: inline;
}

div.actions .show-again {
    color: darkgreen;
    width: 50%;
    float: right;
    text-align: right;
}

div.actions span {
    cursor: pointer;
}